*{
	box-sizing: border-box;
    white-space: nowrap;
}
a {
	text-decoration: none;	
}
#portada {
	background-image: url(../img/pista3.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

.principal {
	height: 100vh;
	position: relative;
	padding: 0;
}
#titulo {
	width: 42%;
	margin-top: 14%;
}
.btn-s {
	background-color: transparent;
	color: white;
	font-size: 138%;
	padding: 10px 30px
}
.botones {
	position: absolute;
	bottom: 3%;
	width: 100%;
}
.bg-btn {
	background:  linear-gradient( 45deg, #EF0076 , #610B5E );
	border: none;
}
.next {
	background: #FF00BE;
	position: absolute;
    bottom: 0%;
    width: 100%;
    text-decoration: none !important;
    color: white !important;
    padding: 14px;
    font-size: 138%;	
}
.h-46 {
	height: 46px;
}
.menu {
	min-width: 67px;
}
.p-13 {
	padding: 0 12px !important;
}
.icono {
	position: absolute;
	left: 10px;
	top: 40%;
}
.mt-12 {
	margin-top: 11px;
}
.atras {
	color: black;
}
#codigoPostal {
	border-right: none;
}
#numeroTlf {
	border-left: none;
}
.inputNames {
	padding: 0;
}
.inputEmail {
	padding: 0;
	width: 100%;
}
.name {
	border:none;
	width: 117px;
    padding:9px 7px;
}
.email {
	border:none;
	width: 100%;	
    padding:9px 7px;
}
.h-40{
	height: 40px;
}
.w-10 {
	width: 18%;
    margin: -1px 4.5px;
    border: none;
    border-bottom: 1px solid black;
}
.w-10:focus {
	border: none !important;
	border-bottom: 1px solid black !important;	
}
.lab {
    margin-left: 60%;
    font-size: 16px;
}
#numeroTlf:focus{
	border: 1px solid #CCCCCC !important;
	border-left: none !important;
}
input:focus {
	outline:none !important;
	box-shadow: none!important;
}
.pl-0 {
	padding-left: 0px;
}

.mt-28 {
    margin-top: 28px;
}
.mt-14 {
	margin-top: 14px;
}
#btn-resend {
	font-size: 21px;
}
#btn-resend:focus {
	background-color: white !important;
	outline:none !important;
}

#mapa {
	width: 100%;
	height: 100vh; 
}
.logo {
	height: 49px;
	position: absolute;
	z-index: 1;	
	top: 3%;
	left: 40%;
}
.user {
	position: absolute;
	z-index: 1;	
	top: 2%;
	left: 4%;
	font-size: 58px;
	color: black;
}
#ubicacion {
	position: absolute;
	z-index: 1;	
	left: 14%;
	bottom: 8%;
	width: 69%;
}
.mt-70 {
	margin-top: 70px;
}

.fs-16 {
	font-size: 16px;
}
.fs-12 {
	font-size: 12px;
}

.m-5 {
	margin: -5px 0;
}
.sign-drive {
	color: white;
	background-color: #72809A;
}


